<a href="https://colab.research.google.com/github/FatemeFazlali/interview/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Establish connection to PostgreSQL

In [ ]:
!pip install psycopg2-binary
import psycopg2

# Establish connection to PostgreSQL
try:
    conn = psycopg2.connect(
        dbname="your_database_name",
        user="your_username",
        password="your_password",
        host="your_host",
        port="your_port"
    )
    cursor = conn.cursor()
    print("Connection successful!")
except psycopg2.Error as e:
    print("Error connecting to database:", e)


# Fetch data from PostgreSQL table
query = "SELECT * FROM table_name;"
cursor.execute(query)
data = cursor.fetchall()

# Convert data to a pandas DataFrame for exploration and cleaning
import pandas as pd
df = pd.DataFrame(data, columns=['column1', 'column2', ...])  # Replace with column names

# Explore the data (e.g., display first few rows, data types, summary statistics)
print(df.head())
print(df.info())

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)
Error connecting to database: invalid integer value "your_port" for connection option "port"

NameError: ignored

Step 1: Accessing Data from Google Drive

In [3]:
!pip install rarfile

from google.colab import drive
import rarfile
import os

# Mount Google Drive
drive.mount('/content/drive')

# Path to the RAR file in Google Drive
rar_path = '/content/drive/My Drive/interview/Copy of RB_DishwashWeekly_GB.rar'

# Destination folder path to extract
extract_folder_path = '/content/data'  # Destination folder to extract

# Ensure the extraction folder exists, create if it doesn't
if not os.path.exists(extract_folder_path):
    os.makedirs(extract_folder_path)

# Extract the RAR file
with rarfile.RarFile(rar_path, 'r') as rf:
    rf.extractall(extract_folder_path)

Requirement already satisfied: rarfile in /usr/local/lib/python3.10/dist-packages (4.1)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
df_FCT = pd.read_csv('/content/data/RB_DishwashWeekly_GB_FCT_07072021.csv', delimiter='|')
# Drop columns where all values are NaN or None
df_FCT.dropna(axis=1, how='all', inplace=True)
print(df_FCT.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TAG            124 non-null    object
 1   SHORT          124 non-null    object
 2   LONG           124 non-null    object
 3   DISPLAY_ORDER  124 non-null    int64
 4   CURRENCY       124 non-null    object
 5   PRECISION      124 non-null    int64
 6   DENOMINATOR    124 non-null    int64
dtypes: int64(3), object(4)
memory usage: 6.9+ KB
None

In [1]:
import pandas as pd

# CSV file path
csv_file_path = '/content/data/RB_DishwashWeekly_GB_fact_data_07072021.csv'

# Read the first few rows to inspect the data types
chunk_size = 10000  # Adjust this chunk size as needed
df_chunk = pd.read_csv(csv_file_path, delimiter='|', nrows=chunk_size)

# Display data types and other information
print(df_chunk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 127 entries, MKT_TAG to F000000000000000521900000000000000031002
dtypes: float64(123), int64(1), object(3)
memory usage: 9.7+ MB
None

In [4]:
df_FCT = pd.read_csv('/content/data/RB_DishwashWeekly_GB_FCT_07072021.csv', delimiter='|')
# Drop columns where all values are NaN or None
df_FCT.dropna(axis=1, how='all', inplace=True)
print(df_FCT.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TAG            124 non-null    object
 1   SHORT          124 non-null    object
 2   LONG           124 non-null    object
 3   DISPLAY_ORDER  124 non-null    int64
 4   CURRENCY       124 non-null    object
 5   PRECISION      124 non-null    int64
 6   DENOMINATOR    124 non-null    int64
dtypes: int64(3), object(4)
memory usage: 6.9+ KB
None

In [5]:
df_MKT = pd.read_csv('/content/data/RB_DishwashWeekly_GB_MKT_07072021.csv', delimiter='|')
df_MKT.dropna(axis=1, how='all', inplace=True)
print(df_MKT.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TAG              38 non-null     object
 1   SHORT            38 non-null     object
 2   LONG             38 non-null     object
 3   DISPLAY_ORDER    38 non-null     int64
 4   PARENT_TAG       30 non-null     object
 5   HIER_NUM         38 non-null     int64
 6   HIER_NAME        38 non-null     object
 7   HIER_LEVEL_NUM   38 non-null     int64
 8   HIER_LEVEL_NAME  38 non-null     object
dtypes: int64(3), object(6)
memory usage: 2.8+ KB
None

In [6]:
df_PER = pd.read_csv('/content/data/RB_DishwashWeekly_GB_PER_07072021.csv', delimiter='|')
df_PER.dropna(axis=1, how='all', inplace=True)
print(df_PER.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TAG            160 non-null    object
 1   SHORT          160 non-null    object
 2   LONG           160 non-null    object
 3   DISPLAY_ORDER  160 non-null    int64
dtypes: int64(1), object(3)
memory usage: 5.1+ KB
None

In [7]:
df_PROD = pd.read_csv('/content/data/RB_DishwashWeekly_GB_PROD_07072021.csv', delimiter='|')
df_PROD.dropna(axis=1, how='all', inplace=True)
print(df_PROD.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8612 entries, 0 to 8611
Data columns (total 35 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   TAG                                                          8612 non-null   object
 1   SHORT                                                        8612 non-null   object
 2   LONG                                                         8612 non-null   object
 3   DISPLAY_ORDER                                                8612 non-null   int64
 4   PARENT_TAG                                                   8604 non-null   object
 5   HIER_NUM                                                     8612 non-null   int64
 6   HIER_NAME                                                    8612 non-null   object
 7   HIER_LEVEL_NUM                                               8612 non-null   int64
 8   HIER_LEVEL_NAME                                              8612 non-null   object
 9   DISHWASHER PRODUCTS BY SECTOR OF FABRIC CARE level 0         2410 non-null   object
 10  SECTOR OF FABRIC CARE                                        8161 non-null   object
 11  TRADING COMPANY                                              8131 non-null   object
 12  BRAND                                                        7279 non-null   object
 13  PRODUCT PROPERTY   FORM                                      6694 non-null   object
 14  WEIGHT VOLUME                                                2561 non-null   object
 15  COLOUR FRAGRANCE OF HOUSEHOLD                                3809 non-null   object
 16  BASE NUMBER IN MULTIPACK                                     2134 non-null   object
 17  ALL SPECIAL OFFERS                                           1083 non-null   object
 18  CUSTOM BRAND 1                                               330 non-null    object
 19  DISHWASHER PRODUCTS BY TRADING COMPANY level 0               395 non-null    object
 20  FRAGRANCE                                                    130 non-null    object
 21  PRODUCT RANGE                                                2241 non-null   object
 22  CUSTOM BRAND 2                                               267 non-null    object
 23  DISHWASHER PRODUCTS BY PRODUCT PROPERTY FORM level 0         384 non-null    object
 24  PACKAGING PROPERTY FORM                                      383 non-null    object
 25  DISHWASHER PRODUCTS BY SECTOR OF FABRIC CARE #1 level 0      2188 non-null   object
 26  NUMBER IN PACK                                               3596 non-null   object
 27  CSA RECKITT BENCKISER SUB SC                                 1245 non-null   object
 28  DISHWASHER PRODUCTS BY CSA RECKITT BENCKISER SUB SC level 0  1246 non-null   object
 29  DISHWASHER PRODUCTS BY SECTOR BY PREMIUM level 0             1452 non-null   object
 30  GLOBAL PRICE SEGMENT                                         1562 non-null   object
 31  GLOBAL SIZE RANGE                                            1096 non-null   object
 32  ADDITIVES BY TRADING COMPANY level 0                         211 non-null    object
 33  DISHWASHER PRODUCTS BY SUMMARY SIZE BY SECTOR level 0        326 non-null    object
 34  RB SUMMARY SIZE RANGE                                        318 non-null    object
dtypes: int64(3), object(32)
memory usage: 2.3+ MB
None

In [8]:
annual_calculator_df = pd.DataFrame()  # Initialize an empty DataFrame to store the results
def annual_calculator(concatenated_columns, df_PER):
    # Step 1: Drop rows with null values
    for col, df in concatenated_columns.items():
        concatenated_columns[col] = df.dropna()

    # Step 2: Merge concatenated_columns with df_PER using 'TAG' column for each column chunk
        # Assuming 'PER_TAG' column in concatenated_columns is the same as df_PER['TAG']
    merged_df = pd.merge(df, df_PER[['TAG', 'LONG']], left_on='PER_TAG', right_on='TAG', how='inner')

        # Summing up values in case of multiple matches
    merged_df = merged_df.groupby(['TAG', 'LONG']).sum().reset_index()

        # Append the merged_df to annual_calculator_df
    if annual_calculator_df.empty:
            annual_calculator_df = merged_df.copy()
    else:
          annual_calculator_df = pd.concat([annual_calculator_df, sum_row.to_frame().T], ignore_index=True)

    # Adding a row with the sum of all columns except the first one
    sum_row = annual_calculator_df.iloc[:, 1:].sum()  # Calculate sum excluding the first column
    sum_row['TAG'] = 'Sum'# Set 'Sum' as the TAG value for this row
    sum_row['LONG'] = 'Sum'
    annual_calculator_df = annual_calculator_df.append(sum_row, ignore_index=True)

    return annual_calculator_df

In [9]:
second_analysis_df = pd.DataFrame()  # Initialize an empty DataFrame to store the results
def second_analysis(concatenated_columns, df_MKT):

    # Step 1: Iterate through the column chunks and perform the required operations
    for col, df_chunk in concatenated_columns.items():
        # Drop rows with null values
        df_chunk_cleaned = df_chunk.dropna()

        # Merge concatenated column with df_MKT using 'MKT_TAG' and 'TAG' columns
    merged_df = pd.merge(df_chunk_cleaned, df_MKT[['TAG', 'LONG']], left_on='MKT_TAG', right_on='TAG', how='inner')

        # Summing up values in case of multiple matches
    merged_df = merged_df.groupby(['TAG', 'LONG']).sum().reset_index()

        # Append the merged_df to second_analysis_df
    if second_analysis_df.empty:
            second_analysis_df = merged_df.copy()
    else:
            second_analysis_df = pd.concat([second_analysis_df, merged_df], ignore_index=True)

    return second_analysis_df

# Example usage:
# Assuming concatenated_columns is a dictionary containing column chunks
# Assuming df_MKT is a DataFrame containing the 'TAG' and 'LONG' columns for merging

# Call second_analysis function for concatenated columns and df_MKT
# result_df = second_analysis(concatenated_columns, df_MKT)

In [10]:
third_analysis_df = pd.DataFrame()  # Initialize an empty DataFrame to store the results
def third_analysis(concatenated_columns, df_PROD):

    # Step 1: Iterate through the column chunks and perform the required operations
    for col, df_chunk in concatenated_columns.items():
        # Drop rows with null values
        df_chunk_cleaned = df_chunk.dropna()

        # Merge concatenated column with df_PROD using 'PROD_TAG' and 'TAG' columns
    merged_df = pd.merge(df_chunk_cleaned, df_PROD[['TAG', 'LONG']], left_on='PROD_TAG', right_on='TAG', how='inner')

        # Summing up values in case of multiple matches
    merged_df = merged_df.groupby(['TAG', 'LONG']).sum().reset_index()

        # Append the merged_df to third_analysis_df
    if third_analysis_df.empty:
            third_analysis_df = merged_df.copy()
    else:
            third_analysis_df = pd.concat([third_analysis_df, merged_df], ignore_index=True)

    return third_analysis_df

# Example usage:
# Assuming concatenated_columns is a dictionary containing column chunks
# Assuming df_PROD is a DataFrame containing the 'TAG' and 'LONG' columns for merging

# Call third_analysis function for concatenated columns and df_PROD
# result_df = third_analysis(concatenated_columns, df_PROD)

In [11]:
# Assuming 'annual_calculator_df' is your DataFrame with the 'Sum' row added
# Find the maximum value in the 'Sum' row
max_value = annual_calculator_df.iloc[-1, 1:].max()
print(f"The maximum value in the 'Sum' row is: {max_value}")

IndexError: ignored

In [ ]:
import pandas as pd

# CSV file path
csv_file_path = '/content/data/RB_DishwashWeekly_GB_fact_data_07072021.csv'

# Define common columns
common_columns = ['MKT_TAG', 'PROD_TAG', 'PER_TAG']

# Read a small chunk to get the column names
small_chunk = pd.read_csv(csv_file_path, delimiter='|', nrows=5)  # Adjust nrows based on your data to get a few rows for column names

# Get the remaining columns excluding the common ones
non_common_columns = [col for col in small_chunk.columns if col not in common_columns]

# Set the chunk size to read all columns in each chunk
chunk_size = 1000000  # Adjust chunk size as needed based on your system memory

# DataFrame to store concatenated columns
concatenated_columns = None
# List to store results for each analysis function
result1_list = []
result2_list = []
result3_list = []

# Your loop to read non-common columns and concatenate chunks with common columns
for col in non_common_columns:
    print(f"Processing column: {col}")
    reader = pd.read_csv(csv_file_path, delimiter='|', usecols=common_columns + [col], chunksize=chunk_size)

    # List to store concatenated chunks for a specific column
    concatenated_chunks = []

    for i, df_chunk in enumerate(reader, 1):
        print(f"Chunk {i} - Column: {col}")
        # Concatenate specific column with common columns into a single DataFrame
        concatenated_chunk = pd.concat([df_chunk[common_col] for common_col in common_columns] + [df_chunk[col]], axis=1)
        concatenated_chunks.append(concatenated_chunk)  # Append the combined DataFrame

    # Concatenate rows of the specific column into a single DataFrame
    concatenated_columns_col = pd.concat(concatenated_chunks, ignore_index=True)
    print(concatenated_columns_col.info())  # Display info for the concatenated DataFrame

    # Concatenate across different columns
    if concatenated_columns is None:
        concatenated_columns = concatenated_columns_col
    else:
        concatenated_columns = pd.concat([concatenated_columns, concatenated_columns_col], axis=1)

    # Perform analysis functions on the concatenated column
    result1 = annual_calculator(concatenated_columns_col, df_PER)
    result2 = second_analysis_function(concatenated_columns_col, df_MKT)
    result3 = third_analysis_function(concatenated_columns_col, df_PROD)

    # Append results to the lists
    result1_list.append(result1)
    result2_list.append(result2)
    result3_list.append(result3)

# Concatenate results across different columns
final_result1 = pd.concat(result1_list)
final_result2 = pd.concat(result2_list)
final_result3 = pd.concat(result3_list)

In [12]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 12.9 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

anothe approch is using postgre and use join statement to get different queries.

In [ ]:
import pandas as pd
import psycopg2

# CSV file path
csv_file_path = '/content/data/RB_DishwashWeekly_GB_fact_data_07072021.csv'

# Read a small chunk to get column names and datatypes
chunksize = 1000  # Adjust the chunksize as needed
csv_reader = pd.read_csv(csv_file_path, nrows=5)
column_datatypes = {col: csv_reader[col].dtype for col in csv_reader.columns}

# PostgreSQL connection details
dbname = 'your_dbname'
user = 'your_username'
password = 'your_password'
host = 'localhost'  # Change it to your PostgreSQL host
port = '5432'       # Change it to your PostgreSQL port

# Connect to PostgreSQL
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Create a table in the database based on CSV columns and datatypes
create_table_query = f"CREATE TABLE IF NOT EXISTS your_table_name ({', '.join([f'{col} {column_datatypes[col]}' for col in column_datatypes.keys()])});"
with conn.cursor() as cursor:
    cursor.execute(create_table_query)
conn.commit()

# Read and insert data into PostgreSQL
csv_reader = pd.read_csv(csv_file_path, chunksize=100000)  # Adjust chunksize as needed
for chunk in csv_reader:
    chunk.to_sql('your_table_name', conn, if_exists='append', index=False)

# Close the connection
conn.close()

In [ ]:
!pip install ipython-sql
!pip install psycopg2-binary

In [ ]:
%load_ext sql

# PostgreSQL connection string
connection_string = 'postgresql://username:password@host:port/database'

# Connect to the PostgreSQL database
%sql $connection_string

In [ ]:
%%sql

-- Create a temporary view joining the fact table with the market table
CREATE TEMP VIEW fact_market_view AS
SELECT f.mkr_tag, f.*, m.*
FROM fact_table f
JOIN market_table m ON f.mkr_tag = m.tag;

-- Sum the values of columns starting with 'F' for each market tag
SELECT mkr_tag, SUM(CASE WHEN column_name LIKE 'F%' THEN column_name ELSE 0 END) AS sum_f_columns
FROM fact_market_view
GROUP BY mkr_tag
ORDER BY sum_f_columns DESC;

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Execute SQL query and store the result in a pandas DataFrame
result = %sql SELECT mkr_tag, SUM(CASE WHEN column_name LIKE 'F%' THEN column_name ELSE 0 END) AS sum_f_columns FROM fact_market_view GROUP BY mkr_tag ORDER BY sum_f_columns DESC
df = result.DataFrame()

# Plot the data
plt.figure(figsize=(10, 6))
sns.barplot(x='mkr_tag', y='sum_f_columns', data=df)
plt.title('Sum of Columns Starting with "F" for Each mkr_tag')
plt.xlabel('mkr_tag')
plt.ylabel('Sum of F Columns')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

Read the relevant data from the PostgreSQL database into a pandas DataFrame.
Sum the values in columns that start with 'F', treating null values as zero.
Visualize the sums in descending order.
Categorize the sums into quartiles and create a visualization based on these quartiles.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Execute SQL query to retrieve relevant data
query = '''
SELECT mkr_tag,
       COALESCE(SUM(CASE WHEN column_name LIKE 'F%' THEN column_name ELSE 0 END), 0) AS sum_f_columns
FROM fact_market_view
GROUP BY mkr_tag
ORDER BY sum_f_columns DESC
'''
result = %sql {query}
df = result.DataFrame()

# Sum values in 'F' columns, treating null values as zero
f_columns = [col for col in df.columns if col.startswith('F')]
df['sum_of_F'] = df[f_columns].fillna(0).sum(axis=1)

# Visualize the sums in descending order
df_sorted = df.sort_values('sum_of_F', ascending=False)
plt.figure(figsize=(10, 6))
plt.bar(df_sorted['mkr_tag'], df_sorted['sum_of_F'])
plt.title('Sum of "F" Columns in Descending Order')
plt.xlabel('mkr_tag')
plt.ylabel('Sum of F Columns')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Categorize the sums into quartiles and create a visualization
quartiles = pd.qcut(df['sum_of_F'], q=4)
plt.figure(figsize=(10, 6))
sns.boxplot(x=quartiles, y=df['sum_of_F'])
plt.title('Sum of "F" Columns by Quartiles')
plt.xlabel('Quartiles')
plt.ylabel('Sum of F Columns')
plt.tight_layout()
plt.show()